body {
  color: #62686E;
  font-size: 20px;
  font-family: Rajdhani;
  font-weight: 500;
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
    background-color: #FFF;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }
}

#Wall {
  min-height: 600px;
}

.title-line {
  opacity: .5;
  width: 70px;
  border-color: #333;
  border-top-width: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.link {
  color: #333;
  font-size: 25px;
  font-weight: 600;
}

.link:hover {
  color: #333;
  text-decoration: none;
}

.feature-line {
  width: 125px;
  border-top-width: 3px;
  margin-top: 1rem;
  transition: all 500ms ease;
  margin-bottom: 0rem;
}

.link-line {
  width: 125px;
  border-color: #333;
  border-top-width: 3px;
  margin-top: 1rem;
  transition: all 500ms ease;
}

.link:hover + .link-line {
  width: 50px;
}

.feature:hover .feature-line {
  width: 75px;
}

.social {
  color: #62686E;
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.social:hover {
  color: #333;
  text-decoration: underline;
}

.logo {
  width: 48px;
}

@media (max-width: 767px) {
  .logo {
    width: 32px;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #222;
  font-weight: 600;
}

p {
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 300;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.my-nav {
  height: 80px;
  position: absolute;
}

a {
  color: #FFF;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

.navbar-toggler-icon {
  font-size: 25px;
  font-weight: 600;
  color: #FFF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-con {
  height: 80px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #3366BB;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.nav.navbar-nav.ml-auto {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

@media (max-width: 767px) {
  .nav.navbar-nav.ml-auto {
    font-weight: 400;
  }
}

.skill-ico {
  width: 50%;
  opacity: 0.75;
}

.code-ico {
  height: 100px;
  max-width: 150px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .code-ico {
    height: 50px;
    max-width: 75px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.skill-img {
  height: 100px;
}

.skill-ico:hover {
  opacity: 1;
}

.text-dark {
  color: #62686E !important;
}

.quote-bg {
  height: auto;
  position: relative;
}

@media (min-width: 768px) {
  .quote-bg {
    height: 680px;
  }
}

.bg-dark {
  background-color: #212329 !important;
  background-image: none;
}

.yellow-line {
  border-color: yellow;
}

.border-t-6 {
  border-top-width: 1.25px;
  width: 70px;
}

.feature:hover > .feature-black {
  background: radial-gradient(transparent 0%, black 100%);
  opacity: 0.4;
}

.feature-black {
  transition: all 500ms ease;
}

.feature-font {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .feature-font {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .sm\:text-black {
    color: #333 !important;
  }
}

.status {
  width: 150px;
  display: flex;
  justify-content: center;
  border-top: 5px solid #62686E;
  position: relative;
}

@media (max-width: 767px) {
  .status {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .status {
    width: 250px;
  }
}

.status:before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #FFA500;
  border-radius: 25px;
  position: absolute;
  top: -15px;
  left: 41%;
}

@media (max-width: 767px) {
  .status:before {
    left: 35%;
  }
}

@media (min-width: 992px) {
  .status:before {
    left: 45%;
  }
}

.status.first:before {
  left: 0px;
}

.status.first {
  margin-left: 65px;
  width: 90px;
}

@media (max-width: 767px) {
  .status.first {
    margin-left: 37px;
    width: 63px;
  }
}

@media (min-width: 992px) {
  .status.first {
    margin-left: 77px;
    width: 100px;
  }
}

.code-text {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .code-text {
    width: 100px;
    height: 50px;
  }
}
