.hidden {
    display: none;
  }
  
  .flex {
    display: flex;
  }
  
  .inline-flex {
    display: inline-flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-col-reverse {
    flex-direction: column-reverse;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  .flex-no-wrap {
    flex-wrap: nowrap;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .items-end {
    align-items: flex-end;
  }
  
  .items-center {
    align-items: center;
  }
  
  .items-baseline {
    align-items: baseline;
  }
  
  .items-stretch {
    align-items: stretch;
  }
  
  .self-auto {
    align-self: auto;
  }
  
  .self-start {
    align-self: flex-start;
  }
  
  .self-end {
    align-self: flex-end;
  }
  
  .self-center {
    align-self: center;
  }
  
  .self-stretch {
    align-self: stretch;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .content-center {
    align-content: center;
  }
  
  .content-start {
    align-content: flex-start;
  }
  
  .content-end {
    align-content: flex-end;
  }
  
  .content-between {
    align-content: space-between;
  }
  
  .content-around {
    align-content: space-around;
  }
  
  .pin-r {
    right: 0;
  }
  
  .mt-10 {
    margin-top: 3rem;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .py-12 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .pb-6 {
    padding-bottom: 1.5rem;
  }
  
  .pt-8 {
    padding-top: 2rem;
  }
  
  .pb-8 {
    padding-bottom: 2rem;
  }
  
  .pt-10 {
    padding-top: 3rem;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .h-full {
    height: 100%;
  }
  
  .h-1\/2 {
    max-height: 50%;
  }
  
  .w-full {
    width: 100%;
  }
  
  .z-20 {
    z-index: 20;
  }
  
  .z-30 {
    z-index: 30;
  }
  
  .font-5 {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    .font-5 {
      font-size: 1.25rem;
    }
  }
  
  .font-8 {
    font-size: 2rem;
  }
  
  .font-9 {
    font-size: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .md\:flex-no-wrap {
      flex-wrap: nowrap;
    }
  }
  
  @media (min-width: 768px) {
    .md\:items-center {
      align-items: center;
    }
  }
  
  @media (min-width: 768px) {
    .md\:mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:mb-0 {
      margin-bottom: 0 !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:mb-10 {
      margin-bottom: 3rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:py-8 {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:px-12 {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pt-0 {
      padding-top: 0;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pr-0 {
      padding-right: 0;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pb-0 {
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pl-0 {
      padding-left: 0;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pr-10 {
      padding-right: 3rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:pl-12 {
      padding-left: 4rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .md\:text-center {
      text-align: center;
    }
  }
  
  @media (min-width: 768px) {
    .md\:w-1\/2 {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .md\:w-1\/4 {
      width: 25%;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:items-center {
      align-items: center;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:items-start {
      align-items: flex-start;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:justify-between {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:h-full {
      height: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:py-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:px-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:py-12 {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:px-12 {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:pt-0 {
      padding-top: 0 !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:pl-0 {
      padding-left: 0rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:pl-4 {
      padding-left: 1rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:absolute {
      position: absolute;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:h-1\/2 {
      height: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:w-1\/2 {
      width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:w-2\/3 {
      width: 66.6667%;
    }
  }
  
  @media (min-width: 992px) {
    .lg\:w-1\/10 {
      width: 10%;
    }
  }
  
  